# build output
bin/

# local imagecheck scans
cache/

# imagecheck scan settings files
*imagecheck*.settings.json

# markdown files
*.md

# direnv files
.envrc

# dotenv files
.env

# asdf files
.tool-versions

# temp files
tmp/
